<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web_cal/style.css' %}" />
<img src="{% static 'web_cal/logo.svg' %}" alt="SELEM 11">
<h2>DJ Sets</h2>
{% if event_dict %}
{% for date, event_list in event_dict.iteritems %}
<h3>{{ date }}</h3>
    <table>
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Title</th>
            <th scope="col">Presenter</th>
        </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
        <tr>
            <td data-label="Time">{{ event.event_datetime|date:"P" }}</td>
            <td data-label="Location">{{ event.event_location  }}</td>
            <td data-label="Title">{{ event.event_name  }}</td>
            <td data-label="Presenter">{{ event.event_presenter  }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% else %}
    <p>No events are available.</p>
{% endif %}
</body>
