<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web_cal/style.css' %}" />
<img src="{% static 'web_cal/logo.png' %}" alt="SELEM 13">
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <ul id="menu">
        <li>
            <a href="#">DJ Sets &#9660;</a>
            <ul class="hidden">
                <li><a href="{% url 'presentations' %}">Activities and Presentations</a></li>
                <li><a href="{% url 'lasershows' %}">Laser Shows</a></li>
                <li><a href="{% url 'all' %}">All Events</a></li>
            </ul>
        </li>
    </ul>
<br>
<br>
{% if event_dict %}
{% for date, event_list in event_dict.iteritems %}
<h3>{{ date|date:"l" }} {{ date }}</h3>
    <table>
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Title</th>
            <th scope="col">Presenter</th>
        </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
        <tr>
            <td data-label="Time">{{ event.event_datetime|date:"P" }}</td>
            <td data-label="Location">{{ event.event_location  }}</td>
            <td data-label="Title">{{ event.event_name  }}</td>
            <td data-label="Presenter">{{ event.event_presenter  }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% else %}
    <p>No events are available.</p>
{% endif %}
</body>
