body {
  background-color: #000000;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  display: block;
  max-width: 350px;
  width: auto;
  height: auto;
}
h3 {
    text-align: center;
    font-size: 22px;
    color: #80ff00;
}
table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #aba3a7;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  /*background: #f8f8f8;*/
  /*border: 1px solid #ddd;*/
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: left;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  /*text-transform: uppercase;*/
}
tbody tr:nth-child(odd) {
  background-color: #303030;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:390px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #ffb200;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #303030;
    color: #fff;
    min-width:350px;
    height: 50px;
    line-height: 40px;
    text-align: center;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #ffb200;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #303030;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width: 640px) {
  img{
    margin: auto;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    /*border-bottom: 3px solid #ddd;*/
    display: block;
    margin-bottom: .625em;
  }
  table td {
    /*border-bottom: 1px solid #ddd;*/
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td[data-label=Time] {
    float: left;
    font-size: 15px;
  }
  table td[data-label=Location] {
    font-size: 15px;
  }
  table td[data-label=Title] {
    float: left;
    font-weight: bold;
    font-size: 18px;
  }
  table td[data-label=Presenter] {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 4px;
  }
  /*
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    /* content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  */

  table td:last-child {
    border-bottom: 0;
  }

/*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

}   